sources/ATMegaSubController/SubController/Debug/
eclipse-workspace
sources/LinuxMainController/Debug/
sources/LinuxMainController/.settings/
documentation/movie/
documentation/src/
ODROID-U3/PCA9685/
ODROID-U3/Win32DiskImagerV11/
ODROID-U3/ubuntu-14.04.2lts-lubuntu-odroid-u-20150224.img
~*.xlsx
*.kicad_pcb-bak
sources/LuciSound/.settings/
sources/LuciSound/Debug/
documentation/html/
documentation/El Mundo/
